.table_image{
	padding:20px;
	height:150px;
	width:200px;
}

proba{color:green;}
article { 
	background: url("background2.jpg");
	background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
	display: block;
	color: #D3AF8E;
	top:0;
	right:0;
	height:100%;
	width: 100%;
	padding: 50px;
  
}

h2{
	font-style: italic;
	font-family:"Copperplate", "Georgia";

}

#nav:hover ~ h2{
	color:white;
}

a.header_link{
	text-decoration:none !important;
}

h3{
	font-style: bold;
	font-family:"Copperplate", "Georgia";
}

a:link {
    color:  #D3AF8E;
}

a:visited {
    color: #bd6666;
}

a:hover {
	color:white;
}

a:active {
    color: white;
}

.raspon{
	width:50px;
	margin-left:10px;
	margin-right: 50px;
}

form {
	 display: block;
	color: #380606;
	width:100%;
	padding-left: 30px;
	padding-top: 50px;
    display: grid;
    grid-template-columns: 300px 300px ;
	grid-row-gap: 10px;
	background: url("background2.jpg");
	background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
	color: #D3AF8E;
}

table{
	color:  #D3AF8E;
	background: #5A0B0B;
}


div.glavni_dio {
    display: flex;
    justify-content: space-between;
	width:100%;
	color: #380606;
	
}

div.gumbi{
	 display: flex;
    justify-content: space-between;
	height:60%;
	width:100%;
	padding-bottom:50px;
	padding-top:50px;
	grid-column: 2 / 3;
}

div.tablica {
	display: flex;
    justify-content: space-between;
		height:60%;
	width:75%
}

ol.top_3{
	line-height: 2;

}



label {
    grid-column: 1 / 2;
	margin-left:20px;
}
 
input,
button, {
    grid-column: 2 / 3;
	margin-bottom: 10px;
}

div.detalji{
	
	color: #D3AF8E;
	background:#5A0B0B;
	padding-top: 10px;
	border-top: 10px solid black;
	bottom: 1; /* Stay at the top */
	left: 0;
	line-height: 3;
	list-style: none;
}

div.sa_strane{
	border-right: 10px solid black;
	list-style: none;
	color: #D3AF8E;
	background:#5A0B0B;
}



nav { 
	display:flex;
	
	width: 100%; 
	
	 z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	font-family: "Times New Roman";
	padding-top: 10px;
	padding-bottom: 20 px;
	line-height: 3;
	
	
}

p.fusnota{
	font-size: 10pt;
	text-align: right;
} 


table, th, td {
  border: 1px solid #6e0d25;
}

header {

	background-image: url("header4.jpg");
	background-size:     cover;  
    background-repeat:no-repeat;
	background-position: center;
	font-weight:200;
	color:#380606;
	

	width: 100%;
	padding: 60px;
	text-align: center;
	border-bottom: 10px solid black;
 
}

body {
	
	 font-family: "Times New Roman" ;
	 font-size: 13pt;
	 background: url("background2.jpg") no-repeat center center;
	  background-repeat: ;
	
}

h1{
	font-style: bold;
	color: #FFFFFF;
	font-family:"Copperplate", "Georgia";
	text-decoration: none !important;
	font-size: 40pt;
	font-weight: 1000;
	
}

footer {
	background: #380606;
	color: #D3AF8E;
	text-align: center;
	padding: 20px;
	
	width:100%;
	border-top: 10px solid black;
	
} 

